* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Job seekers search button start */

.job-btn {
  width: 100%;
}

@media (min-width: 992px) {
  .job-btn {
    width: 25% !important;
  }
}

/* Job seekers search button end */
